* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  color: white;
  font-family: Bungee Inline, sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px 16px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/049/987/607/large_2x/parallax-scrolling-space-planet-game-background-vector.jpg");
  /* background-size: cover;
  background-position: center; */
}

.w {
  width: 530px;
  background-color: #3a3863;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  border-radius: 5%;
  margin-top: 50px;
}

.board {
  background-color: #c2dde4;
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  margin: 0 auto;
}

.cell {
  background-color: #c2dde4;
  border: 0.1px solid #d1edf2;
  border-radius: 20%;
}

.food {
  background-color: #db3b53;
  border: none;
}

.snake {
  background-color: #2323a5;
}

button {
  font-family: inherit;
  background-color: rgb(237, 238, 240);
  color: rgb(15, 15, 37);
  width: 25%;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  border: 2px solid rgb(49, 49, 49);
  outline: none;
  font-size: 0.8em;
}

button:hover {
  color: #7e79bb;
  box-shadow: 0 0 5px 3px #7e79bb;
  transition: 0.3s;
  transform: scale(1.02);
}

h1 {
  margin-top: 50px;
  letter-spacing: 3px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 5px 20px;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

h3 {
  margin-top: 10px;
}
